<%= link_to user_group_purchases_path(user_id: @user.id, group_id: group.id ), :class => 'card' do %>
  <div class="flex">
    <i class="material-icons"><%=group.icon%></i>
    <h3><%=group.name%></h3>
  </div>
  <h3>R300</h3>
<% end %>