<header>
  <%= link_to users_path, :class => 'arrow' do %>
    <i class="material-icons blue">arrow_back</i>
  <% end %>
  <h2>Catagories</h2>
</header>
<div class="page">
  <%@groups.each do |group|%>
  <%= render partial: "groups/card", locals: { group: group } %>
  <% end %>
</div>
<div class="pageBottom">
  <%= button_to "Add Categories", new_user_group_path(@user), :class => 'greenButton', :method => :get %>
</div>