<header>
  <button class="backButton">
    <i></i>
  </button>
  <h2>Catagories</h2>
</header>
<div class="page">
  <div class="card">
    <div>
      <i></i>
      <h3>Food</h3>
    </div>
    <h3>R300</h3>
  </div>
  <div class="card">
    <div>
      <i></i>
      <h3>Food</h3>
    </div>
    <h3>R300</h3>
  </div>
  <div class="card">
    <div>
      <i></i>
      <h3>Food</h3>
    </div>
    <h3>R300</h3>
  </div>
</div>