<div class="page home">
  <h1 class="frontHead">Budget</h1>
</div>
<div class="signButtons">
  <%= button_to "Sign Up", new_user_registration_path, :class => 'blueButton', :method => :get %>
  <%= button_to "Sgin in", new_user_session_path, :method => :get %>
</div>


