/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  color: #434b54;
}

header {
  background-color: #3778c2;
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: flex-start;
  align-items: center;
}

.backButton {
  width: auto;
}

h2 {
  margin-left: 25%;
  color: aliceblue;
}

.home {
  justify-content: center;
}

.page {
  width: 95%;
  height: 100%;
  margin: 4rem 2.5% 0 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.frontHead {
  font-style: italic;
}

.signButtons {
  width: 95%;
  margin: 0 2.5%;
  position: absolute;
  bottom: 1%;
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  height: 4vh;
  border-radius: 0;
  border: 0;
}

.blueButton {
  background-color: #3778c2;
  color: #fff;
}

.card {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 93%;
  padding: 1%;
  margin: 2% 2.5%;
}

.flex {
  display: flex;
  align-items: center;
}

.transactions {
  margin: 0 2.5%;
}

i {
  font-size: 30px;
  margin-right: 5px;
}

.pageBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5fb523;
}

.greenButton {
  border: 1px solid #fff;
  background-color: #5fb523;
  color: #fff;
  width: 90vw;
  height: 7vh;
}

.formDiv {
  width: 100%;
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #434b54;
}

.arrow {
  margin-left: 1rem;
}

.blue {
  background-color: #3778c2;
  color: #fff;
}
